.emptyPage {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    p {
        opacity: 0.5;
        text-align: center;
        margin: 0;
    }

    button {
        width: 245px;
        height: 55px;
        position: relative;
        margin-top: 40px;

        padding-left: 27px; // moving content in the bottom

        &:hover {
            img {
                transform: translateX(-5px);
            }
        }

        img {
            position: absolute;
            top: 21px;
            left: 30px;
            transition: transform 0.15s ease-in-out;
        }
    }
}