body {
  zoom: 80%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter", system-ui;
}

.Wrapper {
  max-width: 1080px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 50px auto;
}

.Content {
  padding: 40px;

  h1 {
    margin: 0;
  }
}

.Sneakers {
  display: flex;
}

.SearchBlock {
  border: 1px solid #f3f3f3;
  display: flex;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
    outline: none;
  }
}

.BeforeSearchBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .Drawer {
    display: flex; // !!! 2
    flex-direction: column; // !!! 2
    position: absolute;
    width: 420px;
    height: 621px;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    .Items {
      overflow: auto;
    }

    h2 {
      margin: 0;
      font-size: 24px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
      }
    }

    ul {
      padding: 0;
      margin-bottom: 30px;
    }
  }

  .CartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden; // picure > border -> hide
    padding: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-size: 16px;
    }

    b {
      font-size: 14px;
    }

    .CartItemImg {
      height: 70px;
      width: 70px;
      background-size: contain;
      background-position: 0 10px;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    .SneakerImage {
      margin-right: 20px;
    }

    .RemoveBtn {
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .CartItemPB {
      margin-right: 80px;
    }
  }
}

.CartTotalBlock {
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    div {
      flex: 1; // div takes all width in row
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative; // !!
      top: -4px; // !!
      margin: 0 7px; // !!
    }
  }

  // only in CartTotalBlock
  .GreenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.GreenButton {
  cursor: pointer;
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: background 0.2s ease-in-out;

  &:hover {
    // when i hover with the mouse lul
    background: lighten(#9dd558, 5%);
  }

  &:active {
    // when i click
    background: darken(#9dd558, 5%);
  }
}

.Items {
  flex: 1; // !!!! 2
}
