* {
  margin: 0;
  padding: 0;
  list-style: none; // list no dots or whatever
  outline: none;
  font-family: "Inter", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  zoom: 80%;
  background-color: #e7f6ff;
}

.Wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 600px);
  height: calc(100vh - 100px);
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.GreenButton {
  cursor: pointer;
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: background 0.2s ease-in-out;

  &:hover {
    // when i hover with the mouse lul
    background: lighten(#9dd558, 5%);
  }

  &:active {
    // when i click
    background: darken(#9dd558, 5%);
  }
}